<% provide(:title, "About") %>

<h1>About</h1>
<p>
	The Hartl tutorial is a book and screencast series
	to teach web development with Ruby on Rails.
	This is the sample app developed in the tutorial.
</p>

